@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
h1,
h2 {
  margin: 0;
}

/* Define font size and other properties */
h1 {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: bold;
  /* Add other styles such as color, margin, etc. */
}

h2 {
  font-size: 2rem; /* Adjust as needed */
  font-weight: bold;
  /* Add other styles such as color, margin, etc. */
}

/* *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
body {
  overscroll-behavior-y: none;
  /* user-select: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/*
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
} */

/* This make Dashboard More Responsive */
.contentOfdashboard {
  overflow: auto;
  height: 100vh;
}

.GradientCard {
  /* position: absolute; */
  max-width: 438px;
  min-height: 501px;
  background: linear-gradient(147.06deg, #487bd5 26.28%, #e85556 121.24%);
  border-radius: 41px;
}

.BorderCard {
  box-sizing: border-box;

  position: absolute;
  width: 438px;
  height: 115px;

  border: 1px solid #ffffff;
  border-radius: 41px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: #f9f5eb;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: #e4dccf;
    --secondary-foreground: 24 9.8% 10%;

    --muted: #cbc4ba;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: #002b5b;
    --accent-foreground: 24 9.8% 10%;

    --destructive: #ea5455;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
